body {
  box-sizing: border-box;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzaForm {
  background-color: #f3595950;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
}

input {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;

  border-radius: 4px;
  cursor: pointer;
  font-size: 26;
}

#response {
  margin-top: 20px;
}
